   
/* control x-axis over-flow */
    html, body {
        overflow-x: hidden;
      }
      body {
        margin: 0%;
      }

      /* background image for header section */
      .bg {
        background-image: url(./img/rainbow-header-bg.jpg);
        background-size: 100%;
        height: 100%;
      }

/* to control navbar items */
      .header_1 p {
        margin: 0%;
      }

      .header_part a {
        padding-right: 2%;
        text-decoration: none;
        color: black;
      }

/* navbar_items */
      .header_part {
        display: flex;
        justify-content: center;
      }


/*  (2 paragraphs and 2 icons ) */
      .main {
        display: flex;
        justify-content: center;
        margin-top: 18%;
      }

/* styling for content icons */
      .icon1 {
        justify-content: center;
        align-self: center;
        padding-right: 3%;
      }

      .icon2 {
        justify-content: center;
        align-self: center;
      }

      .icon {
        font-size: 60px;
        color: #9C8987;
      }

      /* content heading section */
      strong {
        font-size: large;
        color: gray;
        font-weight: 300;
      }

      /* content para-1 */
      .para {
        margin-left: 6%;
        font-family: 'Times New Roman', Times, serif;
      
      }

      /* content para-2 */
      .para_1 {
        margin-left: 25%;
        margin-top: 3%;
        font-family: 'Times New Roman', Times, serif;
        
      }

    /* background image for contact us section*/
        .bg1 {
            background-image: url(./img/rainbow-content-bg.jpg);
            width: 100%;
            height: 100%;
            margin-top: 3.5%;
            display: flex;
            justify-content: center;
          }

/* background image for packages table */
      .parent {
        background-image: url(./img/rainbow-content-bg.jpg);
      }

      .parent div {
        margin-right: 1%;
        font-size: 1rem;
      }

      /* packages table div's */

      .child {
        display: grid;
        grid-template-rows: repeat(7, 1fr);
      }

      .child div {
        padding-left: 1rem;
        padding-right: 5rem;
        width: 100%;
        font-family:'Times New Roman', Times, serif;
      }

/* colors for packages table*/

      .color_1 {
        background-color: #89CABC;
      }

      .color_2 {
        background-color: #B3E7DC;
      }

      .color_3 {
        background-color: #D2EDE7;
      }
      .color_4 {
        background-color: #C2B877;
      }
      .color_5 {
        background-color: #D6D4C5;
      }
      .color_6 {
        background-color: #E2E1D5;
      }
      .color_8 {
        background-color: #97D6E1;
      }
      .color_9 {
        background-color: #BAE1E9;
      }
      .color_10 {
        background-color: #CEE6EA;
      }
     
/* Transparency in forms*/
      .trans {
        background: transparent;
        color: gray;
      }
/* footer section icons */
      .ic_1 {
        font-size: 2rem;
        padding-right: 1.5%;
        padding-top: 4%;
      }


/* Responsive styling part */
      @media screen and (min-width:280px) and  (max-width: 500px) {

        .header_part p {
          display: flex;
          flex-direction: column;
          padding-left: 5%;
        }
        .header_part {
          display: flex;
          flex-direction: column;
        }

        .main {
          display: flex;
          flex-direction: column;
        }

        .para {
          margin-left: 5%;
          margin-right: 3%;
        }

        .para_1 {
          margin-left: 5%;
          margin-right: 3%;
        }

        .icon1 {
          justify-content: start;
          align-self: start;
          margin-left: 5%;
          padding-bottom: 5%;
        }

        .icon2 {
          justify-content: start;
          align-self: start;
          margin-left: 5%;
        }

        .bg1 p {
          width: 100%;
        }

        .text_1 {
          padding: 0%;
        }
        .cen {
          margin-left: 5%;
        }
      }